.features-text h3{
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding-bottom: 8px;
}
.features-text p{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.features-text{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding-top: 120px;
    padding-bottom: 120px;
    flex-basis: calc ((100% - 3 * 24px) / 4);
}
