.hero-button{
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;
    color: #FFFFFF;
}
.hero-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}
.hero-section{
    background-color: #2E2F42;
}