.hero-button{
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 16px 32px;
    border-radius: 4px;
    margin-bottom: 188px;
    border: none;
}
.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;
    color: #FFFFFF;
}
.hero-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    display: block;
    max-width: 496px;
    margin-bottom: 48px;
    padding-top: 188px;
}
.hero-section{
    background-color: #2E2F42;
}
.container-hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}