.team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
color: #2E2F42;
letter-spacing: 0.02em;
padding-bottom: 72px;

}
.team-info h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #2E2F42;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 8px;
}
.team-info p{
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #434455;
    letter-spacing: 0.02em;
    padding-bottom: 32px;

}
.team-section{
    background-color: #f4f4fd;
}
.team-info li{
    background-color: #ffff;
}
.container-team{
    margin: 0 auto;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-info{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}