.team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
color: #2E2F42;
letter-spacing: 0.02em;

}
.team-info h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #2E2F42;
    letter-spacing: 0.02em;
}
.team-info p{
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #434455;
    letter-spacing: 0.02em;

}
.team-section{
    background-color: #f4f4fd;
}
.team-info li{
    background-color: #ffff;
}